extends layout

block content
  h1 New Message
  a(href='./') Back to Mini Bulletin Board
  form(method="POST", action='/new')
    label User
      input(type='text', name='username')
    br
    label Message 
      input(type='text', name='messageText')
    br
    button(type='submit') Post